@media all and (max-width: 600px) {
  .nav-wrapper{
    .container{
      width: 100%;
      .brand-logo{
        left: 0%;
        -webkit-transform: translateX(-0%);
        transform: translateX(-0%);
        padding-left: 10px;
        font-size: 20px;
      }
    }
  }
}